.product-card {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 300px; /* Esto asegura que las tarjetas se ajusten uniformemente */
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px; /* Asegurar una altura uniforme para las imágenes */
    object-fit: cover; /* Asegurar que la imagen se ajuste sin distorsión */
}

.product-info h3 {
    color: #ffcc00;
    font-size: 1.5em;
    margin: 10px 0;
}

.product-info p {
    margin: 5px 0;
}

/* Agregar al Carrito Button */
.product-info button {
    padding: 10px 15px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.product-info button:hover {
    background-color: #1e8449;
    transform: scale(1.05);
}
