/* Estilo para el contenedor de categorías */
.categories-container {
    text-align: center;
    margin-bottom: 20px;
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-card {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.category-card:hover {
    transform: scale(1.1);
}

.category-image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-info {
    color: #fff;
}

.category-info h3 {
    font-size: 1em;
    margin-top: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
}

/* Productos Page Styles */
.productos-container {
    padding: 20px;
    color: white;
}

.productos-container h2 {
    color: #ffcc00;
    font-size: 2em;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 20px;
    text-align: center;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 300px;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    object-fit: cover;
}

.product-info h3 {
    color: #ffcc00;
    font-size: 1.5em;
    margin: 10px 0;
}

.product-info p {
    margin: 5px 0;
}

/* Agregar al Carrito Button */
.product-info button {
    padding: 10px 15px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.product-info button:hover {
    background-color: #1e8449;
    transform: scale(1.05);
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.8); /* Fondo verde con opacidad */
    color: white;
    padding: 20px 40px; /* Aumentar el padding para hacerlo más grande */
    border-radius: 10px; /* Aumentar el borde redondeado */
    font-size: 18px; /* Aumentar el tamaño de la fuente */
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px; /* Aumentar el tamaño de la fuente */
    margin-left: 20px;
    cursor: pointer;
}

.notification .close-button:hover {
    color: red;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}

